@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.eot");
  src: local("fonts/TT Lakes Bold"), local("fonts/TTLakes-Bold"),
    url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.eot");
  src: local("fonts/TT Lakes Regular"), local("fonts/TTLakes-Regular"),
    url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.block1 {
  width: 320px;
  height: 100vh;
  font-family: "TT Lakes", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: clip;
  box-shadow: 10px 0 5px -8px #7e7e82;
}

.header {
  width: 320px;
  height: 51px;
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 53px;
  padding: 0;
}

.back-to-burger-switch {
  margin-left: 24px;
  margin-right: 16.73px;
  transition: all 0.4s ease-in-out;
}

.back-to-burger-switch:hover {
  transform: rotate(45deg) scale(1);
}
.back-to-burger-switch:active {
  transform: translateX(-100px);
}

.logo-pic {
  flex-grow: 1;
}

.header__search {
  transition: all 0.4s ease-in-out;
  margin-right: 24px;
}

.header__search:hover {
  transform: rotate(45deg) scale(1);
}

.header__search:active {
  display: none;
}

.header__search-placeholder {
  display: none;
}

.block1__upright-menu {
  margin-bottom: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list__item {
  display: block;
  text-decoration: none;
  border: 4px solid #ffffff;
  background-color: transparent;
  padding: 1px 24px;
  margin-bottom: 32px;
}

/*.menu-list__item:first-child {
  border-left: 4px solid #41f6d7;
  border-radius: 2px;
  color: #7e7e82;
}*/

.menu-list__item:hover {
  transition-duration: 1s;
  border-left: 4px solid #41f6d7;
  border-radius: 2px;
  color: #7e7e82;
}

.menu-list__item > a:hover {
  transition-duration: 1.5s;
  filter: drop-shadow(30px 10px 4px #41f6d7);
}

.menu-list__item:first-child > a:hover {
  transition: none;
  filter: none;
}

.footer {
}

.footer__buttons {
  margin-left: 16px;
}

.buttons__call,
.buttons__chat,
.buttons__contact {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-decoration: none;
}

.call:hover,
.chat:hover,
.contact:hover {
  transition-duration: 0.6s;
  filter: blur(1px);
}

.footer__contacts {
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.contacts__mail {
  text-decoration: none;
  color: black;
}

.contacts__phone {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
}

.footer__lang-select {
  margin: 40px auto 32px 24px;
  display: flex;
  flex-direction: row;
  font-family: "TT Lakes", serif;
}

.lang-select__item_active {
  text-decoration: none;
  color: grey;
  margin-right: 8px;
}

.lang-select__item {
  margin-right: 8px;
}

.lang-select:last-child {
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}
